Search Index: <input type="text" placeholder="Search" (keyup.enter)="getHeroByIndex(inpRef.value)" #inpRef />
<h3>
  Unknow mass hero is private, you can not visit
</h3>
<ul>
  <li *ngFor="let hero of heros | async">
    <a [routerLink]="hero.id"
       routerLinkActive="active"
       [queryParams]="{description: 'Starwar Hero '}"
       [routerLinkActiveOptions]="{exact: true}">{{hero.name}}, {{hero.mass}}</a>
  </li>
  <!-- we can also do [routerLink]="['/heros', hero.id]", this will point to "heros/1";
       if you do:  [routerLink]="['heros', hero.id]",  this will point to "heros/heros/1"
       Since we are already in heros module we just need to do [routerLink]="hero.id", point to "heros/1"
   -->
</ul>

