<section id="playground">


  <button #left>Left</button>
  <button #right>Right</button>
  <button #up>Up</button>
  <button #down>Down</button>

  <section id="canvas" #canvas>

  </section>
  <div class="ball" #ball
       [style.left]="position.x + 'px'"
       [style.right]="position.x + 'px'"
       [style.top]="position.y + 'px'"
       [style.bottom]="position.y + 'px'"
  ></div>
</section>

<template #foo let-name="name" let-skills="skills">
  <h4>{{name}}</h4>
  <ul>
    <li *ngFor="let s of skills">{{s}}</li>
  </ul>
</template>

<div [ngTemplateOutlet]="foo"
          [ngOutletContext]="msg1">
</div>
<div [ngTemplateOutlet]="foo"
          [ngOutletContext]="msg2">
</div>
