a{
  text-decoration: none;
}

a.active{
  font-weight: bold;
  color: darkred;
}

.main{
  width: auto;
  float: left;
  height: 100%;
}

.main-icon{
  padding: 0 10px;
}

.right-detail{
  width: 30%;
  height: 100%;
}
