<nav *ngIf="auth.authenticated">
  <a [routerLink]="['/home']"
     routerLinkActive="active"
     [routerLinkActiveOptions]="{exact: true}">Home</a>
  <a
    [routerLink]="['/heros', {outlets: {'wiki': null}}]"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
  >Heros</a>
  <a
    [routerLink]="['/contact']"
    routerLinkActive="active"
  >Contact</a>
  <a
    [routerLink]="['/forms']"
    routerLinkActive="active"
  >forms</a>
  <a
    [routerLink]="['/playground']"
    routerLinkActive="active"
  >Playground</a>
  <a
    [routerLink]="['/courses']"
    routerLinkActive="active"
  >Courses</a>
  <a
    [routerLink]="['/animation']"
    routerLinkActive="active"
  >Animation</a>
  <!--<a
    [routerLink]="'/randome'"
    routerLinkActive="active"
  >random</a>-->
  <!--<a
    [routerLink]="'/legacy-url/1'"
    routerLinkActive="active"
  >legacy-url/1 -- prefix matching</a>-->
</nav>
<router-outlet class="main">
</router-outlet>
<router-outlet name="wiki" class="right-detail"></router-outlet>

