<nav>
  <a [routerLink]="'home'"
     routerLinkActive="active"
     [routerLinkActiveOptions]="{exact: true}">Home</a>
  <a
    [routerLink]="'heros'"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
  >Heros</a>
  <a
    [routerLink]="'contact'"
    routerLinkActive="active"
  >Contact</a>
  <a
    [routerLink]="'message'"
    routerLinkActive="active"
  >Message</a>
  <a
    [routerLink]="'playground'"
    routerLinkActive="active"
  >Playground</a>
  <a
    [routerLink]="'realtime'"
    routerLinkActive="active"
  >Realtime</a>
  <a
    [routerLink]="'wefawefaw'"
    routerLinkActive="active"
  >random</a>
</nav>
<router-outlet></router-outlet>
