input.ng-dirty.ng-valid.ng-touched{
  border-bottom: green 2px solid;
}
input.ng-invalid.ng-dirty.ng-touched{
  border: 2px solid red;
}
.error-messages{
  float: right;
}
.error-message{
   color: darkred;
 }
.success-message{
  color: green;
}
