<h1>password match</h1>
<form novalidate autocomplete="off" [formGroup]="signupForm">
  <div class="form-field">
    <label>Password:</label>
    <input type="text" formControlName="password" [(ngModel)]="signup.password" name="password">
  </div>
  <div class="form-field">
    <label>Confirm Password: </label>
    <input type="text" formControlName="confirm" [(ngModel)]="signup.confirm" name="confrim">
    <div *ngIf="!signupForm.valid">
      <span *ngIf="signupForm.get('confirm').hasError('confirmPassword') && signupForm.get('confirm').touched">
        {{signupForm.get('confirm').errors?.confirmPassword.message}}
      </span>
      <span *ngIf="signupForm.get('confirm').hasError('required') && signupForm.get('confirm').dirty">This field is requred</span>
    </div>
  </div>
</form>

<h1>
  reactive form
</h1>
<form [formGroup]="reactiveForm" novalidate autocomplete="off">
  <div class="form-field">
    <label>Title:</label>
    <input formControlName="title">
    <div class="field-error-message" *ngIf="reactiveForm.controls.title.errors?.required">
      Title is required
    </div>
  </div>
  <div class="form-field">
    <label>Duration:</label>
    <input formControlName="duration">
    <div *ngIf="reactiveForm.controls.duration.errors?.validateDuration">
       {{reactiveForm.controls.duration.errors?.validateDuration.message}}
    </div>
  </div>
  <div class="form-field">
    <label>Description:</label>
    <input formControlName="description">
  </div>
  <div class="form-field">
    <label>Extra</label>
    <input [formControl]="extra">
  </div>
  <div class="form-field">
    <button type="submit">Submit</button>
  </div>

  <button (click)="partialUpdate()">update title</button>
  <button (click)="fullUpdate()">update all</button>
  <button (click)="reset()">resset</button>
</form>
<pre>
  {{video | json}}
</pre>

<h1>Template form</h1>
<section>
  Duration: <input type="number" name="duration" [(ngModel)]="duration" duration required>
  Min length & required: <input type="text" [(ngModel)]="message" #messageRef="ngModel" required minlength="5">
  <pre>
    Errors: {{messageRef.errors | json}}
    Valid: {{messageRef.valid}}
  </pre>
  <div *ngIf="!messageRef.valid">
    <div *ngIf="messageRef.errors?.required">This field is required</div>
    <div *ngIf="messageRef.errors?.minlength">Min length is {{messageRef.errors?.minlength.requiredLength}}, but now
      only {{messageRef.errors?.minlength.actualLength}}
    </div>
  </div>
  <br/>
  <hr/>

  <form action="" name="myForm" #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
    Firstname: <input type="text" name="firstName" ngModel required>
    <button [disabled]="!formRef.valid">Submit</button>
  </form>
  <pre>
    form value: {{formRef.value | json}}
    form valid: {{formRef.valid | json}}
  </pre>
  <br>
  <hr>
  <form name="myForm2" #formRef2="ngForm" (ngSubmit)="onSubmit(formRef2.value)">
    <fieldset ngModelGroup="login" #login="ngModelGroup">
      <legend [ngStyle]="legendStyle(login)">Login:</legend>

      Username: <input type="text" name="username" #usernameRef="ngModel" ngModel required>
      Password: <input type="password" name="password" #passwordRef="ngModel" ngModel required>

    </fieldset>
  </form>
  <div class="error-messages" *ngIf="!formRef2.valid">
    <span class="error-message" *ngIf="!usernameRef.untouched && usernameRef.errors?.required">Username is required</span>
    <span class="error-message" *ngIf="!passwordRef.untouched && passwordRef.errors?.required">password is required</span>
  </div>
  <pre>
    username pristine: {{usernameRef.pristine}}
    username dirty: {{usernameRef.dirty}}
    username untouched: {{usernameRef.untouched}}
    username touched: {{usernameRef.touched}}
    form value: {{formRef2.value | json}}
    form valid: {{formRef2.valid | json}}
  </pre>
  <br>
  <hr>


  <!--

    Learn @ViewChld()
    valueChanges: show the value,
    statusChanges: show VALIDE or INVALIDE,
    Observable.combineLatest

  -->
  <form #myForm3="ngForm" name="myForm3">
    <input type="text" #techRef="ngModel" ngModel required placeholder="Type Angular2..." name="tech" pattern="Angular2">
    <span *ngIf="techRef.valid" class="success-message">{{answer}}</span>
  </form>
  <div class="error-messages" *ngIf="!myForm3.valid">
    <span class="error-message" *ngIf="techRef.errors?.pattern">{{techRef.errors?.pattern.requiredPattern}} only</span>
    <span class="error-message" *ngIf="techRef.errors?.required">Requried</span>
  </div>
  <pre>
    Input: {{techRef.errors | json}}
  </pre>

  <br>
  <hr>

  <!-- Radio button-->
  <form action="" name="myFom4" #myForm4="ngForm">
    <div *ngFor="let location of locations">
      <input type="radio"
             name="location"
             ngModel
             [value]="location"
             [id]="location"
             required
      >
      <label [attr.for]="location">{{location}}</label>
    </div>
  </form>
  <pre>
    {{myForm4.value | json}}
  </pre>
</section>
